.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 88vh;
  background: #EFEFEF;
}
.buttons-container p {
  align-self: center;
  padding: 15px 60px;
  border-radius: 12px;
}

.blue-primary-button {
  background: #3FBCFE;
  color: #ffffff
}
.blue-primary-button a {
  color: #ffffff;
}
.purple-primary-button {
  background: #DA89FF;
  color: #ffffff
}

.purple-primary-button a {
  color: #ffffff;
}